


body{
    margin:0;
    background:#0f172a;
    color:white;
    font-family:Arial;
}

header{
    background:#111827;
    padding:20px;
    text-align:center;
}

.hero{
    text-align:center;
    padding:50px;
}

.slider-section{
    width:80%;
    margin:auto;
    margin-top:40px;
}

.about{
    padding:50px;
    text-align:center;
}
